html, body {
  margin: 0;
  padding: 0;
}

body {
  /* Remove outline for non-keyboard :focus */
  *:focus:not(:focus-visible) {
    box-shadow: none !important;
  }

  /* Show outline for keyboard :focus-visible */
  .chakra-button {
    &:focus-visible {
      // chakra uses box-shadow for focus highlight rather than outline
      box-shadow: var(--chakra-shadows-outline) !important;
    }
  }

  user-select: none;
}
