@use "../vars";

$palette-width: 235px;

%color-picker-button-base {
  appearance: none;
  background: vars.$icon-fill-light;
  border: 1px solid vars.$charcoal-dark-2;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  height: 24px;
  line-height: 1;
  padding: 4px 10px;
  text-transform: capitalize;

  &:hover {
    background-color: vars.$icon-fill-medium;
  }

  &:active {
    background-color: vars.$accent-light-2;
  }

  &:focus-visible {
    @include vars.focus-outline($radius: 4px);
  }
}

.react-aria-Popover {
  &.color-picker-popover {
    padding: 0;
  }
}

.color-picker-palette {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 12px;
  background-color: white;
  border-radius: 4px;
  width: $palette-width;

  .color-swatch-palette {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .color-swatch-grid {
      display: grid;
      grid-template-columns: repeat(8, 22px);
      grid-template-rows: repeat(3, 22px);
      gap: 5px;
      width: 100%;
      align-content: start;

      .color-swatch-cell {
        appearance: none;
        cursor: pointer;
        font: inherit;
        width: 22px;
        height: 22px;
        padding: 0;
        border: solid 1px vars.$charcoal-dark-1;
        border-radius: 2px;

        &[data-focus-visible] {
          outline: 2px solid vars.$focus-outline-color;
          outline-offset: 2px;
        }

        &[data-selected] {
          border: 1px solid #000;
          background-position: 50% 50%;
          background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAAMdJREFUOE+tkgsNwzAMRMugEAahEAahEAZhEAqlEAZhEAohEAYh81X2dIm8fKpEspLGvudPOsUYpxE2BIJCroJmEW9qJ+MKaBFhEMNabSy9oIcIPwrB+afvAUFoK4H0tMaQ3XtlrggDhOVVMuT4E5MMG0FBbCEYzjYT7OxLEvIHQLY2zWwQ3D+9luyOQTfKDiFD3iUIfPk8VqrKjgAiSfGFPecrg6HN6m/iBcwiDAo7WiBeawa+Kwh7tZoSCGLMqwlSAzVDhoK+6vH4G0P5wdkAAAAASUVORK5CYII=);

          &.light {
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIVJREFUeNpiYBhsgJFMffxAXABlN5JruT4Q3wfi/0DsT64h8UD8HmpIPCWG/KemIfOJCUB+Aoacx6EGBZyHBqI+WsDCwuQ9mhxeg2A210Ntfo8klk9sOMijaURm7yc1UP2RNCMbKE9ODK1HM6iegYLkfx8pligC9lCD7KmRof0ZhjQACDAAceovrtpVBRkAAAAASUVORK5CYII=);
          }
        }
      }
    }

    .color-swatch-footer {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 24px;
      margin-top: 5px;
      margin-bottom: 12px;
    }
  }

  .color-picker-more-button {
    @extend %color-picker-button-base;
  }

  .color-picker-container {
    width: 100%;

    .color-picker {
      width: 100%;

      .react-colorful {
        border-radius: 2px;
        width: 100%;

        .react-colorful__saturation {
          border-radius: 2px;
          margin-bottom: 12px;
          outline: solid 1px vars.$charcoal;
        }
        .react-colorful__hue,
        .react-colorful__alpha {
          border-radius: 6px;
          height: 12px;
          margin-bottom: 12px;
          outline: solid 1px vars.$charcoal;
        }
        .react-colorful__pointer {
          border: solid 3px white;
          height: 20px;
          outline: solid 1px vars.$charcoal;
          width: 20px;
        }
      }
    }
    .color-picker-footer {
      display: flex;
      justify-content: flex-end;
      margin-top: 5px;
    }
  }

  .color-picker-actions {
    display: flex;
    gap: 10px;
  }

  .color-picker-action-button {
    @extend %color-picker-button-base;

    &.cancel {
      background: transparent;
    }
  }
}
