@use "../vars";

.codap-modal-content {
  .formula-modal-body {
    cursor: default;

    .formula-form-control {
      .title-label {
        width: 140px;
      }
      input {
        max-width: 270px;
        margin-right: 3px;
        margin-left: 0
      }
    }

    .formula-editor-button {
      padding: 0 10px;
      &:hover {
        background: vars.$codap-teal-lighter;
      }
      &:active, &.menu-open {
        background: vars.$codap-teal-light;
        color: white;
      }
      &.insert-value {
        margin-left: 0;
      }
    }
  }

  .formula-modal-footer {
    cursor: default;
  }
}
