$color-picker-popover-top: -8;
$color-picker-popover-top-px: #{$color-picker-popover-top}px;
$color-picker-popover-left: -52;
$color-picker-popover-left-px: #{$color-picker-popover-left}px;

// https://mattferderer.com/use-sass-variables-in-typescript-and-javascript
:export {
  colorPickerPopoverTop: $color-picker-popover-top;
  colorPickerPopoverLeft: $color-picker-popover-left;
}
