coverage
coverage-cypress
dist
node_modules
npm-error.log
.DS_Store
.env*
.nyc_output
.yalc
yalc.lock
.cache

# Typescript
tsconfig.tsbuildinfo

# Editors
.idea

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
