[submodule "frameworks/SlickGrid"]
	path = frameworks/SlickGrid
	url = https://github.com/kcpt/SlickGrid.git
[submodule "frameworks/sproutcore"]
	path = frameworks/sproutcore
	url = https://github.com/kcpt/sproutcore.git
