.adornment-wrapper {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  &.visible {
    animation-name: adornmentFadeIn;
    opacity: 1;
  }
  &.hidden {
    animation-name: adornmentFadeOut;
    opacity: 0;
    pointer-events: none;

    * {
      pointer-events: none !important;
    }
  }
}

@keyframes adornmentFadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes adornmentFadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
