.graph-adornments-grid {
  display: grid;
  gap: 0;
  grid-auto-flow: column;
  pointer-events: none;
  position: absolute;

  & > div {
    display: grid;
    gap: 0;
    grid-auto-flow: row;
    font-size: 12px;
    height: auto;
    padding-right: 0;
    pointer-events: none;
    text-align: right;
    width: auto;
  }

  &.tile-selected .show-on-tile-selected {
    display: block;
  }

  .graph-adornments-grid__cell {
    overflow: hidden;
    position: relative;
  }
}

.graph-adornments-banners {
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
}

.adornment-spanner {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

[class*="equation-container"],
.measure-labels {
  .units {
    color: gray;
  }
}
