@use "./fonts";
@use "./vars";

#codap-app-id {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #242424;
  background-color: #dfdfdf;

  .codap-app {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &.beta {
      top: vars.$beta-banner-height;

      .toolbar-container {
        height: calc(100% - vars.$menu-bar-height - vars.$beta-banner-height);
      }
    }

    .toolbar-container {
      display: flex;
      flex-direction: column;
      height: calc(100% - vars.$menu-bar-height);
      width: 100%;

      &.vertical-toolbar-container {
        flex-direction: row;
      }
    }

    &.minimal-chrome {
      .toolbar-container {
        height: 100%;
      }
    }
  }

  // Embedded mode: transparent background and text selectability
  &.embedded-mode {
    background: transparent;

    .codap-app {
      background: transparent;
    }

    // Allow text selection in background (unique to embeddedMode, not componentMode)
    .codap-container {
      user-select: text;
    }
  }
}

.drop-handler {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

// Zoom cursor classes for option-click zoom on axes and plot background.
// Use !important to override component-specific cursor styles (e.g., .dragRect's grab cursor).
// The .dragging class also uses !important, so it will still win during active drags.
.zoom-in {
  cursor: url("../assets/MagnifyPlus.png") 8 8, zoom-in !important;
}

.zoom-out {
  cursor: url("../assets/MagnifyMinus.png") 8 8, zoom-out !important;
}

#user-entry-drop-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5000;
  pointer-events: auto;
  background-color: #77777780;
  z-index: 200;
  &.beta {
    top: vars.$beta-banner-height;
    height: calc(100vh - vars.$beta-banner-height);
  }
  &.show-highlight {
    border: 3px solid yellow;
  }
}

.document-render-error {
  margin: 20px;

  h1 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 10px;
  }
  h2 {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 10px;
  }
}
