#app {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #242424;
  background-color: #dfdfdf;

  .app {
    width: 100%;
    height: 100%;

    .hello-codap3 {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .add-new-table-button {
      position: absolute;
      bottom: 10px;
      left: 10px;
    }
  }
}

.drop-handler {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
