@import "./vars.scss";

.chakra-modal__header.codap-modal-header {
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;

  .codap-modal-icon-container {
    width: 30px;
    height: 30px;
    background-color: $dark-teal;
    top: 0;
    left: 0;
  }

  .codap-header-title {
    border-bottom: solid #C1C5C7 1px;
    border-left: solid #C1C5C7 1px;
    padding-left: 5px;
    width: calc(100% - 30px);
    height: 30px
  }

  button {
    top: 0;
  }
}
