@import "./vars.scss";

.component-title-bar {
  flex-direction: row;
  height: $title-bar-height;
  background-color: #177991;
  width: 100%;
  border-radius: $border-radius-top-corners;
  &:hover {
    .header-right {
      visibility: visible;
    }
  }
  &:active {
    .header-right {
      visibility: visible;
    }
  }

  .header-left {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 5px;
    align-items: center;
    justify-content: center;
    background-color: #177991;
    height: 24px;
    width: 24px;
    border-top-left-radius: 6px;
    .card-icon {
      background-color: white;
      fill: #177991;
      height: 16px;
      width: 13px;
      border-radius: 2px;
      &:hover {
        height: 18px;
        width: 14px;
      }
      &:active {
        background-color: black;
      }
    }
    .table-icon {
      background-color: #177991;
      fill: white;
      color: white;
      margin-top: 2px;
      height: 16px;
      width: 25px;
      &:hover {
        height: 18px;
      }
      &:active {
        fill: black;
      }
    }
    .card-table-toggle-message {
      font-size: 12px;
      font-family: "museo-sans", sans-serif;
      position: absolute;
      left: 10px;
      top: 5px;
      width: 235px;
      height: 30px;
      background-color: rgba(255, 255, 255, 0.90);
      border-radius: 6px;
      color: black;
      padding: 5px 10px;
      z-index: 5;
      &:hover {
        color: #3366CC
      }
    }
  }

  .header-right {
    height: $title-bar-height;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    visibility: hidden;
    background-color: #177991 !important;
    fill: lightgray;
    border-top-right-radius: 6px;

    .component-minimize-icon {
      height: 20px;
      width: 19px;
      fill: lightgray;
      &:hover {
        height: 25px;
        width: 24px;
        fill: white;
      }
      &:active {
        height: 25px;
        width: 24px;
        fill: black;
      }
    }

    .component-close-button {
      background-color: #177991 !important;
      color: lightgray;
      height: 24px;
      &:hover {
        font-size: medium;
        font-weight: bold;
        color: white;
      }
      &:active {
        font-size: medium;
        font-weight: bold;
        color: black;
      }
    }
  }
}
