@use "./vars";

.component-title-bar {
  flex-direction: row;
  align-items: center;
  height: vars.$title-bar-height;
  background-color: vars.$title-bar-color;
  width: 100%;
  border-radius: vars.$border-radius-top-corners;
  &.focusTile {
    background-color: vars.$title-bar-focus-color;
  }
  &:hover, &:active {
    .header-right {
      visibility: visible;

      &.disabled {
        visibility: hidden;
      }
    }
    .title-text {
      text-decoration: underline;
    }
  }

  .header-left {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 5px;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    border-top-left-radius: 6px;

  }

  .header-right {
    height: vars.$title-bar-height;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    visibility: hidden;
    fill: lightgray;
    border-top-right-radius: 6px;

    .component-minimize-icon {
      height: 20px;
      width: 19px;
      fill: lightgray;
      &:hover {
        height: 25px;
        width: 24px;
        fill: white;
      }
      &:active {
        height: 25px;
        width: 24px;
        fill: black;
      }
    }

    .component-minimize-button {
      background-color: transparent;
      border: none;
      height: vars.$title-bar-height;
      width: 24px;
      padding: 0;
      border-radius: 0;
    }

    .component-close-button {
      color: lightgray;
      height: 24px;
      &:hover {
        font-size: medium;
        font-weight: bold;
        color: white;
      }
      &:active {
        font-size: medium;
        font-weight: bold;
        color: black;
      }
    }
  }
}

// Have to make some stylings important to override Chakra's default styling
.title-bar {
  width: 100%;
  cursor: grab !important;
  touch-action: none;
}
.title-text {
  display: flex !important;
  justify-content: center !important;
  width: max-content;
  color: #222;
  font-size: 16px !important;
  font-weight: 600 !important;
  text-align: center;
  padding-top: 2px !important;
  margin: auto;
  cursor: text
}
.title-text-input {
  display: flex !important;
  justify-content: center !important;
  height: calc(vars.$title-bar-height) !important;
  width: max-content;
  font-size: 14px !important;
  text-align: center !important;
  padding-top: 2px !important;
  margin: auto;
  cursor: text;
  outline: none !important;
  border-radius: vars.$border-radius-top-corners !important;
  border: 2px solid #66afe9;
}
