@import "../components/vars";

.codap-container {
  width: 100%;
  height: calc(100% - $tool-shelf-height);

  .component-placeholder {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
