@import "./vars.scss";

.editable-component-title {
  // TODO: better way?
  height: $title-bar-height !important;
  border: none !important;
  color: white;
  text-align: center;
  position: inherit !important; //overrides Chakra's position relative
  border-top-left-radius: 6px !important;
  border-top-right-radius: 6px !important;
}
