@import "./vars.scss";

.editable-component-title {
  // TODO: better way?
  height: $title-bar-height !important;
  border: none !important;
  color: white;
  text-align: center;
  position: inherit !important; //overrides Chakra's position relative
}
