@font-face {
  font-family: Montserrat;
  src: url("@concord-consortium/cloud-file-manager/dist/fonts/Montserrat-Regular.otf");
  font-weight: normal;
}

@font-face {
  font-family: Montserrat;
  src: url("@concord-consortium/cloud-file-manager/dist/fonts/Montserrat-Bold.otf");
  font-weight: bold;
}
