.free-tile-row {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;

  .free-tile-component {
    position: absolute;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 25%);
    border-radius: 6px;
    overflow: auto;
    resize: both;
  }
}
