$tool-shelf-height: 65px;

$title-bar-height: 25px;
$header-height: 30px;

$teal-dark: #01879E;
$teal-light1: #2BA5C1;
$teal-light3: #93D5E4;

$border-radius-top-corners: 6px 6px 0px 0px;
$border-radius-four-corners: 6px;
$border-radius-bottom-corners: 0px 0px 6px 6px;