@use "../vars.scss";

.data-summary {
  position: relative;
  width: 100%;
  height: calc(100% - vars.$title-bar-height);
  background-color: aliceblue;
  padding: 5px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;

  .data-components, .data-attributes {
    margin-top: 15px;
  }

  .summary-inspector-drop {
    position: absolute;
    left: 10px;
    bottom: 10px;
    border: 1px solid gray;
    padding: 5px 10px;
    background: #eee;
    font-size: var(--chakra-fontSizes-sm);
    font-weight: var(--chakra-fontWeights-semibold);

    &.over {
      background: #ccc;
    }
  }

  .summary-attribute-info {
    position: absolute;
    left: 160px;
    bottom: 10px;
    padding: 5px;
  }

  .profiler-button {
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 5px 10px;
    background: #eee;
  }
}

.draggable-attribute {
  display: inline-block;
  border: 1px solid gray;
  padding: 3px;
  margin: 3px;
  background: #eee;
  font-size: var(--chakra-fontSizes-sm);
  font-weight: var(--chakra-fontWeights-semibold);

  &.overlay {
    opacity: 50%;
  }
}
