<% content_for :page_javascript do %>
<% if config.enable_google_analytics %>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZYRHG9RN3K"></script>
  <script>
    if (DG.GOOGLE_ANALYTICS_ID) {
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', DG.GOOGLE_ANALYTICS_ID);
    }
  </script>
<% end %>
<% end %>
