.plotted-function-control {
  background: transparent;
  border: none;
  color: #000;
  display: flex;
  font: 12px "MuseoSans-500", sans-serif;
  left: 0;
  min-height: 22px;
  padding: 0;
  pointer-events: all;
  position: absolute;
  text-align: left;
  top: 0;
  width: 100%;
  z-index: 5;

  .plotted-function-control-label {
    background: gray;
    cursor: pointer;
    min-height: 22px;
    padding: 1px 3px 3px;
    width: 54px;
  }
  .plotted-function-control-value {
    background: #fff;
    cursor: text;
    flex: 1;
    height: 100%;
    min-height: 22px;
    padding: 1px 3px 3px;
  }
}