@import "./../vars.scss";

.slider-wrapper {
  position: fixed;
  overflow: clip;
  width: 40%;
  height: 100px;
  background: #fff;
  border-radius: $border-radius-four-corners;
  box-shadow: 1px 1px 3px 1px rgba(176, 170, 170, 0.75);

  .titlebar {
    text-align: center;
    background-color: $teal-dark;
    border-radius:$border-radius-top-corners;
    input {
      background-color: transparent;
      text-align: center;
      font-weight: bold;
      color:white;
      max-height: 19px;
      max-width:98%
    }
  }
  .slider {
    button svg, .thumb-icon {
      width:27px;
      height:27px;
    }

    .thumb-icon {
      transform: translateY(10px);
    }

    .paused svg {
      stroke: white;
      fill: rgb(10, 167, 10);
    }

    .running svg {
      stroke-width: 4px;
      stroke: rgb(226, 61, 61);
      padding:3px;
    }

    *[data-focused]{
      outline: none;
      outline-color: transparent;
    }

    .slider-inputs {
      display: flex;

      input, div {
        border-radius: 3px;
        // text-align: left;
        // padding: 2px 0px;
      }
    }

    .slider-thumb-svg {
      transition: left 0.15s linear;
    }
  }
}

.app {
  //temporary until we implement the real inspector
  .inspector-temporary {
    position: absolute;
    top: 100px;
    right: 40px;
    width: 40px;
    text-align: center;
    input {
      width: 34px;
      background-color: transparentize($teal-dark, .5);
      text-align: center;
      color: white;
    }
    border-radius: $border-radius-four-corners;
    border: 3px solid $teal-dark;
  }
}
