@import "./../vars.scss";

$pseudo-inspector-width: 40px;

.slider-wrapper {
  position: relative;
  overflow: clip;
  height: calc(100% - $title-bar-height);
  background: #fff;

  .slider {
    button svg, .thumb-icon {
      width:27px;
      height:27px;
    }

    .thumb-icon {
      transform: translateY(10px);
    }

    .paused svg {
      stroke: white;
      fill: rgb(10, 167, 10);
    }

    .running svg {
      stroke-width: 4px;
      stroke: rgb(226, 61, 61);
      padding:3px;
    }

    *[data-focused]{
      outline: none;
      outline-color: transparent;
    }

    .slider-inputs {
      display: flex;

      input, div {
        border-radius: 3px;
        // text-align: left;
        // padding: 2px 0px;
      }
    }

    .slider-thumb-icon {
      position: absolute;
      top: 60px;

      &.dragging {
        top: 59px;
        filter: drop-shadow(3px 1px 1px #555);
      }
    }
  }
}

// .app {
//   //temporary until we implement the real inspector
//   .free-tile-row {
//     .slider-wrapper {
//       width: 100%;
//     }
//   }
//   // .inspector-temporary {
//   //   position: absolute;
//   //   width: $pseudo-inspector-width;
//   //   text-align: center;
//   //   input {
//   //     width: 34px;
//   //     background-color: transparentize($teal-dark, .5);
//   //     text-align: center;
//   //     color: white;
//   //   }
//   //   border-radius: $border-radius-four-corners;
//   //   border: 3px solid $teal-dark;
//   // }
// }
