@import "./../vars.scss";

.slider {
  position: fixed;
  background: #fff;
  border-radius: $border-radius-four-corners;
  box-shadow: 1px 1px 3px 1px rgba(176, 170, 170, 0.75);
  padding-bottom:10px;

  .titlebar {
    text-align: center;
    background-color: $teal-dark;
    border-radius:$border-radius-top-corners;
    input {
      background-color: transparent;
      text-align: center;
      font-weight: bold;
      color:white;
      max-height: 19px;
      max-width:98%
    }
  }

  button svg, .thumb-icon {
    width:27px;
    height:27px;
  }

  .thumb-icon {
    transform: translateY(10px);
  }

  .paused svg {
    stroke: white;
    fill: rgb(10, 167, 10);
  }

  .running svg {
    stroke-width: 4px;
    stroke: rgb(226, 61, 61);
    padding:3px;
  }

  *[data-focused]{
    outline: none;
    outline-color: transparent;
  }

  .value .slider-inputs {
    input {
      padding: 0px 6px;
      border-radius: 3px;
      background-color: rgb(200, 200, 252);
      text-align: left;
    }
  }

  .inspector-temporary {
    position: absolute;
    right:-40px;
    width:40px;
    top: 1px;
    text-align: center;
    input {
      width:34px;
      background-color: transparentize($teal-dark, .5);
      text-align: center;
      color:white;
    }
    border-radius: $border-radius-four-corners;
    border:3px solid $teal-dark;
  }
}

