.attribute-drag-overlay {
  cursor: grabbing;
  width: 100%;
  height: 100%;
  border: none;
  opacity: 75%;
  background: #f9f9f9;    // --rdg-header-background-color
  border: 1px solid #ddd; // --rdg-border-color
  font-weight: bold;
  color: #888;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dnd-kit-drag-overlay {
  // This element was preventing WebViewDropOverlays from receiving pointerenter, pointermove, and pointerleave events.
  pointer-events: none;
}
