@use "../../vars";

.attribute-label-menu {
  touch-action: none;
  z-index: 16;
}

.collection-menu-button {
  width: 100%;
}

.collection-menu-item {
  display: flex;
  justify-content: space-between;

  .collection-menu-arrow {
    margin-left: 8px;
    height: 24px;
    width: 24px;
    fill: vars.$icon-fill-dark;
  }
}
