@use "../../vars";

.attribute-label-menu {
  align-items: center;
  display: flex;
  touch-action: none;

  button {
    position: relative !important;
  }

  button:focus-visible {
    outline: 2px solid vars.$focus-outline-color;
    outline-offset: 2px;
    border-radius: 2px;
  }
}

// Dropdown menu list styling (!important overrides Chakra UI's default MenuList styles)
.axis-legend-menu {
  border-radius: 4px !important;
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.25) !important;
  padding: 7px !important;

  [role="menuitem"] {
    font-size: 14px;
    font-weight: normal;
    height: 30px;
    padding: 7px 10px;

    &:hover, &:focus {
      background-color: vars.$charcoal-light-5;
    }

    &:focus-visible {
      @include vars.focus-outline;
      background-color: transparent;
    }

    // "Selected" (currently assigned) attribute
    &[aria-checked="true"] {
      background-color: vars.$charcoal-light-5;
    }
  }

  // Chakra uses this class for hover highlight
  .chakra-menu__menuitem-option:hover,
  .chakra-menu__menuitem:hover {
    background-color: vars.$charcoal-light-5;
  }
}

.collection-menu-button {
  width: 100%;
}

.collection-menu-item {
  display: flex;
  justify-content: space-between;

  .collection-menu-arrow {
    margin-left: 8px;
    height: 24px;
    width: 24px;
    fill: vars.$icon-fill-dark;
  }
}
