.attribute-label-menu {
  z-index: 16;
}

.collection-menu-button {
  width: 100%;
}

.collection-menu-item {
  display: flex;
  justify-content: space-between;
}

.collection-menu-arrow {
  margin-left: 8px;
}