.axis {
  background-color: white;

  axis-title text {
    fill: blue;
  }

  line {
    stroke: #DDDDDD;
  }
}


.dragRect {
  fill: #e38e71;
  fill-opacity: 0.01;
  cursor: grab;

  &.dragging {
    cursor: grabbing !important;
  }

  &.h-translate {
    cursor: grab;
  }

  &.h-upper-dilate {
    cursor: url("../../../assets/RightDilate.png") 8 8, grab;
  }

  &.h-lower-dilate {
    cursor: url("../../../assets/LeftDilate.png") 8 8, grab;
  }

  &.v-translate {
    cursor: url("../../../assets/TranslateY.png") 8 8, grab;
  }

  &.v-upper-dilate {
    cursor: url("../../../assets/UpDilate.png") 8 8, grab;
  }

  &.v-lower-dilate {
    cursor: url("../../../assets/DownDilate.png") 8 8, grab;
  }
}

// nextjs: Added dragLine to give these styles to axis-drag-rects.tsx. Not sure if they're scoped properly
.dragLine {
  .grid .tick line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
    pointer-events: none;
  }
  
  .zero .tick line {
    stroke: #444444;
    stroke-opacity: 0.8;
    shape-rendering: crispEdges;
    pointer-events: none;
  }  
}
