.plugin-selection {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30px;

  .plugin-selection-icon {
    width: 18px;
    height: 18px;
  }

  .plugin-selection-title {
    margin-left: 6px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #222;
  }
}

.plugin-group-menu-button {
  width: 100%;
}

.plugin-group-menu-item {
  justify-content: space-between;
}
