@import "../vars.scss/";
$deleteModalBackground: #EEE;
$deleteButton: #4B8ADD;

.tool-shelf {
  height: $tool-shelf-height;
  width: 100%;
  background-color: $codap-tool-shelf-gray;
  border-bottom: 1px solid #dcdbd8;
  box-shadow: 0 0 0 1px #888888!important;
  display: flex;
  flex-direction: row;
  align-items: center;

  .tool-shelf-component-buttons {
    background-color: white;
  }

  .tool-shelf-right-buttons {
    background-color: $codap-tool-shelf-gray;

    .tool-shelf-button {
      span {
        align-items: center;
        display: flex;
        flex-direction: column;
      }

      &.undo-button, &.redo-button {
        width: 34px;
      }
      // separate undo/redo buttons from other buttons
      &.redo-button {
        margin-left: -1px;
        margin-right: 12px;
      }

      svg {
        height: 24px;
        // separate label from icon
        margin-bottom: 1px;

        &.icon-tile-list {
          width: 33px;
        }
      }
    }
  }

  .tool-shelf-component-buttons, .tool-shelf-right-buttons {
    height: $tool-shelf-height;
    border-right: solid #888888;
    align-items: center;
    padding: 0 5px;

    .tool-shelf-button {
      height: 40px;
      width: 40px;
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center;
      margin: 10px 3px 0 3px;

      &:disabled {
        opacity: 0.5;
        box-shadow: none;
        cursor: not-allowed;
      }
      &:hover:not(:disabled) {
        box-shadow: 1px 1px 1px rgb(0, 0, 0, 0.5) !important;
      }
      &:active:not(:disabled) {
        box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5) !important;
      }
      .tool-shelf-tool-label {
        font-family: "museo-sans", sans-serif;
        font-size: 11px;
        font-weight: 500;
        padding: 0;
        min-height: 6px;

        &.menu {
          background-color: white;
        }
      }
    }
  }
}

.tool-shelf-span {
  margin-top: 0!important;
}

.tool-shelf-menu-trash-icon {
  background-color: white;
  right: 6px;
  position: absolute;
  height: 11px;
  width: 11px;
  fill: black;
}

.delete-data-set-modal-body {
  display: flex;
  flex-direction: row;
  padding: 20px 10px;
  font-family: 'museo-sans', sans-serif;
  background-color: $deleteModalBackground;

  .delete-data-set-modal-text {
    margin: 10px;

    .warning {
      font-size: 16px;
      font-weight: bold;
    }
    .description {
      font-size: 12px;
    }
  }
}

.delete-data-set-modal-footer {
  background-color: $deleteModalBackground;

  .delete-data-set-button-cancel {
    background-color: $deleteModalBackground;
    color: #555;
    &:hover{
      background-color: $deleteModalBackground;
    }
    &:active {
      background-color: #CCC;
    }
  }

  .delete-data-set-button-delete {
    background-color: $deleteButton;
    color: #fff;
    &:hover {
      background-color: $deleteButton;
    }
    &:active {
      background-color: #4B8ABD;
    }
  }
}
