@import "../vars.scss/";

.tool-shelf {
  height: $tool-shelf-height;
  width: 100%;
  background-color: #ececec;
  border-bottom: 1px solid #dcdbd8;
  box-shadow: 0 0 0 1px #888888!important;
  display: flex;
  flex-direction: row;
  align-items: center;

  .tool-shelf-component-buttons {
    height: $tool-shelf-height;
    background-color: white;
    border-right: solid #888888;
    align-items: center;
    padding: 0 5px;

    .tool-shelf-button {
      height: 40px;
      width: 40px;
      margin-top: 5px;
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center;
      margin: 0 5px;
      &:active {
        box-shadow: 2px 2px 2px 0px rgb(0, 0, 0, 0.5) !important
      }

      .tool-shelf-tool-label {
        font-family: "museo-sans", sans-serif;
        font-size: 11px;
        font-weight: 500;
        padding: 0;
        min-height: 6px;
        background-color: white;

        &.menu {
          background-color: white;

        }
      }
    }
  }
}

.tool-shelf-span {
  margin-top: 0!important;
}

.tool-shelf-menu-trash-icon {
  background-color: white;
  right: 6px;
  position: absolute;
  height: 11px;
  width: 11px;
  fill: black;
}

.delete-data-set-modal-body {
  display: flex;
  flex-direction: row;
  padding: 20px 10px;
  font-family: 'museo-sans', sans-serif;
  background-color: #EEE;

  .delete-data-set-modal-text {
    margin: 10px;

    .warning {
      font-size: 16px;
      font-weight: bold;
    }
    .description {
      font-size: 12px;
    }
  }
}
.delete-data-set-modal-footer {
  background-color: #EEE;

  .delete-data-set-button-cancel {
    background-color: #EEE;
    color: #555;
    &:hover{
      background-color: #EEE;
    }
    &:active {
      background-color: #CCC;
    }
  }

  .delete-data-set-button-delete {
    background-color: #4B8ADD;
    color: #fff;
    &:hover {
      background-color: #4B8ADD;
    }
    &:active {
      background-color: #4B8ABD;
    }
  }
}
