@use "../vars";
$deleteModalBackground: #EEE;
$deleteButton: #4B8ADD;
$tool-shelf-border-width: 1px;

.tool-shelf {
  height: vars.$tool-shelf-height;
  width: 100%;
  background-color: white;
  border-bottom: $tool-shelf-border-width solid #a6a6a6;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.25) !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  z-index: 5;

  .tool-shelf-component-buttons, .tool-shelf-right-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;

    .tool-shelf-button {
      height: calc(vars.$tool-shelf-height - $tool-shelf-border-width);
      width: fit-content;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: white;

      // When toolshelf button is a menu button, it has a span wrapper
      // This overrides wrapping span styles
      &.tool-shelf-menu {
        > span {
          align-items: center;
          display: flex;
          flex-direction: column;
          justify-content: center;

          svg {
            height: 30px;
            width: 30px;
            margin: 0 10px
          }
          > .tool-shelf-tool-label {
            background-color: transparent;
            padding-inline-start: 0;
            padding-inline-end: 0;
          }
        }
      }

      &:disabled {
        opacity: 0.5;
        box-shadow: none;
        cursor: not-allowed;
      }
      &:hover:not(:disabled) {
        background-color: vars.$icon-fill-light;
      }
      &:active:not(:disabled) {
        background-color: #bfefff;
      }
      &.redo-button {
        .icon-redo {
          transform: scaleX(-1);
        }
      }
      .tool-shelf-button-icon-wrapper {
        max-height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          height: 30px;
          width: 30px;
        }
      }

      .tool-shelf-tool-label {
        font-family: "roboto", sans-serif;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: vars.$letter-spacing;
        color: vars.$label-color;
        background-color: white;
        height: 16px;
        margin: 0 10px;
        background-color: transparent;
        padding-inline-start: 0;
        padding-inline-end: 0;

        &.menu {
          background-color: white;
        }
      }
    }
  }
}

.tool-shelf-span {
  margin-top: 0 !important;
}

.tool-shelf-menu-list {
  padding: 10px !important;
  transform: translate3d(0px, -10px, 0px) !important;
}

.tool-shelf-menu-item {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  font-family: 'roboto', sans-serif;
  font-size: 14px !important;
  color: #222;
  cursor: pointer;

  &:hover {
    background-color: #f0f0f0;
  }

  &:active {
    background-color: #e0e0e0;
  }

  .menu-icon {
    height: 16px;
    width: 16px;
    margin-right: 4px;
  }
}

.tool-shelf-menu-trash-icon {
  background-color: white;
  height: 11px;
  width: 11px;
  fill: black;
  margin-left: 4px;
}

.delete-data-set-modal-body {
  display: flex;
  flex-direction: row;
  padding: 20px 10px;
  font-family: 'museo-sans', sans-serif;
  background-color: $deleteModalBackground;

  .delete-data-set-modal-text {
    margin: 10px;

    .warning {
      font-size: 16px;
      font-weight: bold;
    }
    .description {
      font-size: 12px;
    }
  }
}

.delete-data-set-modal-footer {
  background-color: $deleteModalBackground;

  .delete-data-set-button-cancel {
    background-color: $deleteModalBackground;
    color: #555;
    &:hover{
      background-color: $deleteModalBackground;
    }
    &:active {
      background-color: #CCC;
    }
  }

  .delete-data-set-button-delete {
    background-color: $deleteButton;
    color: #fff;
    &:hover {
      background-color: $deleteButton;
    }
    &:active {
      background-color: #4B8ABD;
    }
  }
}
