@import "../vars.scss/";

.tool-shelf {
  height: $tool-shelf-height;
  width: 100%;
  background-color: #ececec;
  border-bottom: 1px solid #dcdbd8;
  box-shadow: 0 0 0 1px #888888!important;
  display: flex;
  flex-direction: row;
  align-items: center;

  .toolshelf-component-buttons {
    height: $tool-shelf-height;
    background-color: white;
    border-right: solid #888888;
    align-items: center;

    .toolshelf-button {
      height: 40px;
      width: 34px;
      margin-top: 5px;
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center;
      margin: 0 5px;
        &:hover {
          border-right: solid 2px #888888;
          border-bottom: solid 2px #888888;
        }
        &:active {
          margin-top: 10px;
        }

      .tool-shelf-tool-label {
        font-family: 'MuseoSans', sans-serif;
        font-size: 10px;
        font-weight: 500;
        padding: 0;
        min-height: 6px;
        background-color: white;
      }
    }
  }
}

.tool-shelf-span {
  margin-top: 0!important;
}
