@import "../vars.scss/";

.tool-shelf {
  height: $tool-shelf-height;
  width: 100%;
  background-color: #ececec;
  border-bottom: 1px solid #dcdbd8;
  box-shadow: 0 0 0 1px #888888!important;
  display: flex;
  flex-direction: row;
  align-items: center;

  .toolshelf-component-buttons {
    height: $tool-shelf-height;
    background-color: white;
    border-right: solid #888888;
    align-items: center;
    padding: 0 5px;

    .toolshelf-button {
      height: 40px;
      width: 40px;
      margin-top: 5px;
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center;
      margin: 0 5px;
      &:active {
        box-shadow: 2px 2px 2px 0px rgb(0, 0, 0, 0.5) !important
      }

      .tool-shelf-tool-label {
        font-family: "museo-sans", sans-serif;
        font-size: 11px;
        font-weight: 500;
        padding: 0;
        min-height: 6px;
        background-color: white;
      }
    }
  }
}

// nextjs: does not appear to be used anywhere. will remove later.
// .tool-shelf-span {
//   margin-top: 0!important;
// }
