.codap-menu-bar {
  position: relative;
  width: 100%;
  height: 51px;
  background: #105262;

  // CFM style overrides
  .view {
    // Set up stacking context so that CFM z-indices are separate from client z-indices.
    // This puts CFM menus and dialogs above all components, resize handles, etc.
    z-index: 20;

    .modal-dialog {
      // default border for input elements
      input {
        border: revert;
        line-height: normal;
      }
      // TODO: this style override was added to v2 in https://github.com/concord-consortium/codap/pull/1075.
      // It should really be handled internally to the CFM itself.
      .tabbed-panel .workspace-tab-component .dialogTab .provider-message {
        color: #000;
        font-size: 12px
      }
    }

    .cfm-menu > .lang-menu {
      display: flex;
      flex-direction: row;
      align-items: center;
      &.with-border {
        margin-top: -5px;
      }
      .lang-label {
        background-position: 4px 5px;
        margin-top: 0;
      }
    }

    .menu.lang-menu {
      .cfm-menu.menu-showing {
        top: 24px;
      }
    }
  }

}
