.menu-bar {
  position: relative;
  width: 100%;
  height: 30px;
  background: #105262;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .hamburger-button {
    border: 1px solid white;
  }

  .version-build-number {
    position: absolute;
    right: 5px;
    top: 2px;
    color: white;
  }
}
