.codap-menu-bar {
  position: relative;
  width: 100%;
  height: 51px;
  background: #105262;

  // CFM style overrides
  .view {
    // Set up stacking context so that CFM z-indices are separate from client z-indices.
    // This puts CFM menus and dialogs above all components, resize handles, etc.
    z-index: 20;

    .modal-dialog {
      // default border for input elements
      input {
        border: revert;
        line-height: normal;
      }
      // Hide the filter input to save space
      .tabbed-panel .workspace-tab-component .dialogTab input[type=text],
      .tabbed-panel .workspace-tab-component .dialogTab .dialogClearFilter {
        display: none;
      }
    }
  }
}
