@use "../vars";

.user-entry-modal-container {
  border-radius: vars.$border-radius-four-corners;
  color: vars.$label-color;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 190px;
  width: 440px;
  max-width: 440px;
  background-color: #fff;
  overflow: hidden;

  .user-entry-modal-header {
    align-items: center;
    background: url(../../assets/cfm/file-new-icon.nosvgr.svg) no-repeat 5px 5px;
    background-size: 24px 24px;
    background-color: vars.$accent-light-2;
    border-radius: vars.$border-radius-top-corners;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    height: 34px;
    padding: 10px 10px 10px 34px;
    width: 100%;
  }

  .user-entry-modal-body {
    border-radius: vars.$border-radius-bottom-corners;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;

    .user-entry-button {
      background-color: vars.$accent-light-3;
      border: solid 1px vars.$accent;
      border-radius: vars.$border-radius-four-corners;
      font-size: 14px;
      font-weight: 500;
      height: 30px;
      margin: 10px;

      &:focus-visible {
        outline: 3px solid vars.$focus-outline-color;
        outline-offset: 2px;
      }
      &:hover {
        background: vars.$accent-light-2;
      }
      &:active {
        background: vars.$accent-light-1;
      }

    }
  }
}
