@import "../vars.scss";

.inspector-panel {
  position: absolute;
  right: -50px;
  top: 0;
  width: 50px;
  min-height: 50px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  padding: 5px 0;
  &.graph { //Temporarily place to the left of graph
    left: -50px;
  }

  .inspector-tool-button {
    width: 40px;
    height: 30px;
    padding: 5px;
    border: none !important;
    margin: 5px 0;
    &:hover {
      background-color: $teal-light1;
    }
    &:active {
      background-color: $teal-light3;
    }
  }

  .more-options-icon {
    width: 3px;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
