.legend-categories {
  .legend {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: lightgreen;

    svg {
      width: 100%;
      height: 100%;
      fill: yellow;
    }

    text {
      fill: black;
      font: 12px sans-serif;
      cursor: pointer;
    }

    rect {
      opacity: 0.85;
      stroke: #315B7D;
      cursor: pointer;
    }

  }
}

.legend-rect-selected {
  stroke: black !important;
  stroke-width: 2px !important;
}

.legend-label text {
  fill: blue;
  text-align: center;
}

.key {

}
