.measure-container {
  height: 100%;
  width: 100%;

  .measure-line {
    fill: none;
    pointer-events: all;
    position: relative;
    stroke: #000;
    stroke-width: 1px;

    &.mean-line {
      stroke: #00f;
    }
    &.mean-absolute-deviation-line {
      stroke: #9980ff;
      stroke-width: .5px;

      &.range-line {
        stroke: #00adff;
        stroke-width: 1;
      }
    }
    &.median-line {
      stroke: #f00;
    }
    &.plotted-value-line {
      stroke: green;
    }
    &.standard-deviation-line {
      stroke: #9980ff;
      stroke-width: .5px;

      &.range-line {
        stroke: #30f;
        stroke-width: 1;
      }
    }
  }

  .measure-tip {
    display: none;
    fill: #000;
    font-size: 10px;
    font-weight: normal;
    pointer-events: all;
    position: absolute;
    stroke: transparent;

    &.visible {
      display: block;
    }
    &.offset {
      transform: translate(0, 17px)
    }
  }

  .measure-cover {
    fill: none;
    opacity: 0;
    pointer-events: all;
    position: relative;
    stroke: #000;
    stroke-width: 5px;

    &.mean-cover {
      stroke: #00f;
    }
    &.mean-absolute-deviation-cover {
      stroke: #5bbaff;
    }
    &.median-cover {
      stroke: #f00;
    }
    &.plotted-value-cover {
      stroke: green;
    }
    &.standard-deviation-cover {
      stroke: #9980ff;
    }
    &:hover, &.highlighted {
      opacity: .2;
    }
  }

  .measure-range {
    fill-opacity: .5;
    pointer-events: none;
    stroke: none;
    stroke-width: 0;

    &.mean-absolute-deviation-range {
      fill: #9ac6ff;
    }
    &.standard-deviation-range {
      fill: #9980ff;
    }
  }
}

.measure-labels {
  position: absolute;
  height: 100%;
  top: 0;
  width: 100%;

  .measure-labels-tip {
    background: #ff0;
    cursor: move;
    font-size: 10px;
    font-weight: normal;
    opacity: .6;
    padding: 2px 4px;
    pointer-events: all;
    position: absolute;
    z-index: 10;

    &:hover, &.highlighted { opacity: 1; }
  }
}
