@use "../vars.scss";

.toggle-icon {
  height: 24px;
  width: 24px;
}

.card-table-toggle-message {
  font-size: 12px;
  font-family: "museo-sans", sans-serif;
  position: absolute;
  left: 10px;
  top: 5px;
  width: 235px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.90);
  border-radius: 6px;
  color: black;
  padding: 5px 10px;
  z-index: 5;
  &:hover {
    color: #3366CC
  }
}
