@use "../vars.scss";

.cell-color-swatch {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .cell-color-swatch-interior {
    width: calc(100% - 4px);
    height: calc(100% - 8px);
    margin-top: 0.5px;
  }
}

.color-cell-text-editor {
  width: 100%;
  height: calc(100% - 4px);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-inline-start: 2px;

  .cell-edit-color-swatch {
    width: 12px;
    height: 12px;
    margin-right: 2px;

    .cell-edit-color-swatch-interior {
      width: 100%;
      height: 100%;
      border: 1px solid gray;
    }
  }
}
