.plotted-value-container {
  height: 100%;
  width: 100%;
}
.plotted-value {
  fill: none;
  pointer-events: all;
  position: relative;
  stroke: green;
  stroke-width: 1px;

  .plotted-value-tip {
    display: none;
    fill: #000;
    font-size: 10px;
    font-weight: normal;
    position: absolute;
    stroke: transparent;
  }
  &:hover > .plotted-value-tip { display: block; }
}
.plotted-value-cover {
  fill: none;
  opacity: 0;
  stroke: #0f0;
  stroke-width: 5px;

  &:hover {
    opacity: .2;
  }
}