@use "../vars.scss";
@use "./case-table-shared.scss" as shared;

$table-body-font-size: 8pt;

.case-table {
  position: relative;
  width: 100%;
  height: calc(100% - vars.$title-bar-height);

  .rdg {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat-Regular', sans-serif !important;
    font-size: 8pt !important;
    color: #222222;

    .rdg-row {
      .rdg-header-row {
        line-height: 14px !important;

        .codap-column-header {
          text-align: center;
          height: 30px !important;

          .codap-column-header-content {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            input {
              height: calc(100% - 8px)
            }

            // chakra menu-button
            button {
              width: 100%;
              color: #555555 !important;
            }
          }
        }
      }
    }

    .rdg-row {
      input.rdg-text-editor {
        font-size: $table-body-font-size;
      }
      &.rdg-row-even {
        .codap-index-cell {
          background-color: #EEFEE3;
        }
      }
      &.rdg-row-odd {
        &[aria-selected=false] {
          background: #fafafa;
        }
        .codap-index-cell {
          background-color: #D3E9C8;
        }
      }
    }

    .rdg-cell {
      &.codap-index-cell {
        text-align: center;
        .codap-index-content {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  .codap-column-header-divider {
    position: absolute;
    background: black;
    opacity: 0%;
    pointer-events: none;

    &.over {
      opacity: 30%;
    }
  }
}

.codap-menu-list {
  width: 190px;

  .menu-item {
    font-family: 'MuseoSans-500', sans-serif;
    font-size: 12px;
    line-height: 20px;
    padding: 0 5px 0 20px;
  }
}
