@use "../vars.scss";
@use "./case-table-shared.scss" as shared;

$table-body-font-size: 8pt;

.case-table {
  position: relative;
  width: 100%;
  height: calc(100% - vars.$title-bar-height);

  .rdg {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat-Regular', sans-serif !important;
    font-size: $table-body-font-size !important;
    color: #222222;

    .rdg-header-row {
      line-height: 14px !important;

      .codap-column-header {
        text-align: center;
        height: shared.$header-row-height-px !important;
        &.index {
          pointer-events: none;
          cursor: auto;
        }

        .codap-column-header-content {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          input {
            height: calc(100% - 6px)
          }

          // chakra menu-button
          button {
            width: 100%;
            color: #555555 !important;
          }
        }
      }
    }

    .rdg-row {
      input.rdg-text-editor {
        font-size: $table-body-font-size;
      }
      &.rdg-row-even {
        .codap-index-cell {
          background-color: #EEFEE3;
        }
      }
      &.rdg-row-odd {
        &[aria-selected=false] {
          background: #fafafa;
        }
        .codap-index-cell {
          background-color: #D3E9C8;
        }
      }
    }

    .rdg-cell {
      &.codap-index-cell {
        text-align: center;
        .codap-index-content {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      // RDG.beta.17 moved all CSS inside @layers, which decreased their priority
      // so that some of Chakra's CSS takes precedence, including the gridlines.
      // These lines assert the RDG gridlines precedence ahead of Chakra's CSS.
      padding-inline: 4px;
      border-inline-end: 1px solid var(--rdg-border-color);
      border-block-end: 1px solid var(--rdg-border-color);
    }
  }

  .codap-column-header-divider {
    position: absolute;
    background: black;
    opacity: 0%;
    pointer-events: none;

    &.over {
      opacity: 30%;
    }
  }
}

.codap-menu-list {
  width: 190px;

  .menu-item {
    font-family: 'museo-sans', sans-serif;
    font-size: 12px;
    line-height: 20px;
    padding: 0 5px 0 20px;
  }
}

.edit-attribute-modal {
  .form-control {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 10px 8px 8px;
  }
  .form-input, .chakra-select__wrapper {
    width: calc(100% - 80px);
  }
}
