.case-table {
  position: relative;
  width: 100%;
  height: 100%;

  .rdg {
    width: 100%;
    height: 100%;

    .rdg-header-row {
      .codap-column-header {
        text-align: center;

        .codap-column-header-content {
          width: 100%;
          height: 100%;

          // chakra menu-button
          button {
            width: 100%;
          }
        }
      }
    }

    .rdg-cell {
      &.codap-index-cell {
        text-align: center;
        .codap-index-content {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  .codap-column-header-divider {
    position: absolute;
    background: black;
    opacity: 0%;
    pointer-events: none;

    &.over {
      opacity: 30%;
    }
  }
}
