
$header-row-height: 30;
$header-row-height-px: #{$header-row-height}px;

// https://mattferderer.com/use-sass-variables-in-typescript-and-javascript
:export {
  headerRowHeight: $header-row-height;
}
