@use "../vars.scss";
@use "./case-table-shared.scss" as shared;

$table-body-font-size: 8pt;

.case-table {
  position: relative;
  width: 100%;
  height: calc(100% - vars.$title-bar-height);

  .case-table-content {
    width: 100%;
    height: 100%;
    display: flex;
    overflow-x: auto;
    background-color: white;

    .collection-table {
      display: flex;
      align-items: stretch;

      .collection-table-and-title {
        display: flex;
        flex-direction: column;

        .collection-title {
          text-align: center;
        }
      }


      .collection-table-spacer-divider {
        width: 1px;
        background-color: white;
      }
      // Put a 1px white strip down the full length of either side, THEN put a 1px border on the bottom (not on top tho)
      // er, make them transparent? and see what happens?


      .collection-table-spacer {
        position: relative;
        width: 48px;
        height: 100%;
        background: white;
        display: flex;
        flex-direction: column;


        &.parentMost {
          width: 30px;

          .spacer-top {
            display: none;
          }
          .spacer-mid {
            display: none;
          }

          .drop-message {
            left: 7px;
          }
        }

        &.active {
          border: 5px solid rgba(255, 216, 102, 0.5);
        }

        &.over {
          background: rgba(255, 255, 0, 0.5);
        }

        .spacer-top {
          height: calc(vars.$title-bar-height + vars.$header-height - 1px);
          background-color: hsl(0deg 0% 97.5%); // var(--rdg-header-background-color); // need to find/make the codap variable for this
          // background-color: #E6E6E6;
          width: 100%;
          border-bottom: 1px solid var(--codap-colors-chakra-border-color); // #E6E6E6;
          overflow: hidden;
          position: relative;
          -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

          // path {
          //   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
          // }

          .expand-collapse-button {
            position: absolute;
            bottom: 6px;
            left: 3px;
          }
          image {
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
          }
          // border: 1px solid #E6E6E6;
          // border: 1px solid #d3d3d3;
          // background: #e6e6e6 url('../../../../../../static/dg/en/cert/source/resources/slickgrid/css/smoothness/images/ui-bg_glass_75_e6e6e6_1x400.png') 50% 50% repeat-x;
          // background-color: #555555;
        }

        .spacer-mid {
          width: 100%;
          flex-grow: 1;

          .spacer-mid-interface {
            width: 100%;
            height: 100%;
            position: relative;
            // overflow: hidden;

            // .collapse-toggle {
            //   width: 9px;
            //   height: 9px;
            //   cursor: pointer;
            //   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            // }
          }
        }

        .expand-collapse-button {
          width: 9px;
          height: 9px;
          display: flex;
          cursor: pointer;
          position: absolute;

          .expand-collapse-image {
            width: 9px;
            height: 9px;
            &.closed {
              background-image: url("../../assets/expand.gif");
            }
            &.open {
              background-image: url("../../assets/collapse.gif");
            }
          }
        }

        .drop-message {
          position: absolute;
          bottom: 0;
          left: 17px;
          transform: rotate(-90deg);
          transform-origin: left;
          white-space: nowrap;
          font: 12px sans-serif;
          opacity: 100%;
        }
      }
    }
  }

  .rdg {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat-Regular', sans-serif !important;
    font-size: $table-body-font-size !important;
    color: #222222;
    border-radius: vars.$border-radius-bottom-corners;

    .rdg-header-row {
      line-height: 14px !important;

      .codap-column-header {
        text-align: center;
        height: shared.$header-row-height-px !important;
        &.index {
          pointer-events: none;
          cursor: auto;
        }

        .codap-column-header-content {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          input {
            height: calc(100% - 6px)
          }

          // chakra menu-button
          button {
            width: 100%;
            color: #555555 !important;
          }
        }
      }
    }

    .rdg-row {
      input.rdg-text-editor {
        font-size: $table-body-font-size;
      }
      &.rdg-row-even {
        .codap-index-cell {
          background-color: #EEFEE3;
        }
      }
      &.rdg-row-odd {
        &[aria-selected=false] {
          background: #fafafa;
        }
        .codap-index-cell {
          background-color: #D3E9C8;
        }
      }
    }

    .rdg-cell {
      &.codap-index-cell {
        text-align: center;
        .codap-index-content {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          &.collapsed {
            text-align: left
          }
        }
      }

      // RDG.beta.17 moved all CSS inside @layers, which decreased their priority
      // so that some of Chakra's CSS takes precedence, including the gridlines.
      // These lines assert the RDG gridlines precedence ahead of Chakra's CSS.
      padding-inline: 4px;
      border-inline-end: 1px solid var(--rdg-border-color);
      border-block-end: 1px solid var(--rdg-border-color);
    }
  }

  .codap-column-header-divider {
    position: absolute;
    background: black;
    opacity: 0%;
    pointer-events: none;

    &.over {
      opacity: 30%;
    }
  }
}

.codap-menu-list {
  width: 190px;

  .menu-item {
    font-family: 'museo-sans', sans-serif;
    font-size: 12px;
    line-height: 20px;
    padding: 0 5px 0 20px;
  }
}
