.movable-value-container {
  position: absolute;
  background-color: rgba(0, 0, 255, 0.3);
}

.movable-value-label {
  color: #4682b4;
  height: 30px;
  position: absolute;
  text-align: center;
  transform: translate(-50%, -55%);
  width: 50px;

  &.horizontal {
    transform: translate(0, -30%);
  }
}

.movable-value {
  pointer-events: all;
  stroke: #4682b4;
  stroke-width: 1px;
}

.movable-value-rect {
  fill: #4682b4;
  height: 6px;
  stroke-width: 1px;
  width: 6px;
}

.movable-value-cover {
  stroke: rgba(70, 30, 180, 0);
  stroke-width: 6px;
  cursor: url("../assets/left-right-cursor.png") 8 8, grab;

  &:hover {
    stroke: rgba(70, 30, 180, 0.2);
  }

  &.horizontal {
    cursor: url("../assets/up-down-cursor.png") 8 8, grab;
  }
}

.movable-value-fill {
  fill: steelblue;
  opacity: .3;
  pointer-events: none;
  stroke-opacity: 0;
}
