.react-data-card-view {
    overflow-x: hidden;
    overflow-y: scroll;
}

.react-data-card-view.drag-in-progress {
    border: medium #ffe4b3 solid;
}

.react-data-card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 0 3px;
    font-size: 11px !important;
    background-color: white;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    font-family: 'Montserrat', sans-serif;
    table-layout: fixed;
    white-space: nowrap;
}

.react-data-card .react-data-card-attr-name-input {
    font-size: 11px;
    width: calc(100% - 2px);
}

.react-data-card .react-data-card-value-input {
    font-size: 11px;
    width: calc(100% - 1px);
}

/* only show hover effect on mouse devices that support hover */
/* avoids bugs related to iOS Safari's simulated hover effects */
@media(hover: hover) and (pointer: fine) {
    .react-data-card .nav-buttons [class*="moonicon-"]:hover {
        color: #72bfca;
    }
}
/* otherwise, highlight on touch/click instead of hover */
@media(hover: none), (pointer: coarse) {
    .react-data-card .nav-buttons [class*="moonicon-"]:active {
        color: #72bfca;
    }
}

$nav-header-width: 75px;
.react-data-card {
    .case-card-collection {
        position: relative;

        .collection-header-row {
            height: 27px;
            background: #bddfdf !important;

            &.drop {
                border-top: yellow 10px solid;
            }

            .collection-header-cell {
                border: none;
                font-weight: bold;

                .collection-header-contents {
                    display: flex;
                    align-items: center;

                    .collection-label {
                        flex: 1 1 auto;
                        white-space: normal; // wraps text within the cell
                        cursor: text;
                    }

                    .nav-header {
                        padding-right: 5px;
                        flex: 0 0 $nav-header-width;
                        text-align: right;

                        .nav-buttons {
                            right: 0;
                            width: fit-content;
                            display: inline-block;
                            text-align: right;
                            color: cadetblue;

                            [class*="moonicon-"] {
                                font-size: 12px;
                                padding-left: 5px;
                                padding-right: 10px;
                                vertical-align: middle;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}

.react-data-card table {
    width: 100%;
    margin-bottom: 0;
    margin-left: 0;
    border-bottom: gray thin solid;
}

.react-data-card table tr {
    width: 100%;
}

.react-data-card tr:nth-child(odd) {
    background: #eeeeee;
}

.react-data-card td div {
    float: right;
    width: 100%;
    border: 0;
    cursor: pointer;
}

.react-data-card td {
    max-width: 0;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
    padding: 2px 3px 2px 3px;
    text-overflow: ellipsis;
}

.react-data-card td span {
    padding-right: 5px;
    margin-right: 0;
    font-size: 11px;
}

.react-data-card-attribute {
    font-weight: normal;
    text-align: right;
    font-size: 11px;
}

.react-data-card-attribute:hover {
    text-decoration: underline;
    color: #1b5798;
}

.react-data-card .dg-floating-plus {
    position: absolute;
    left: 4px;
    width: 19px;
    height: 19px;
    cursor: pointer;
}

.react-data-card .dg-floating-plus:hover {
    width: 23px;
    height: 23px;
}

.react-data-card .dg-floating-button-right {
    position: relative;
    vertical-align: middle;
    right: 4px;
    cursor: pointer;
    /*justify-content: center;*/
    background-color: #609EA1;
    border-width: 0;
    font-size: x-small;
    color: white;
    border-radius: 4px;
}

td.attr-cell {
    background: #ccc;
    text-align: right;
}

tr:nth-child(even) td.attr-cell {
    background: #eee;
}

.react-data-card .attr-cell-upper {
    border-top: thick yellow solid;
}

.react-data-card .attr-cell-lower {
    border-bottom: thick yellow solid;
}

.react-data-card tr:nth-child(even) .attr-cell-all, .react-data-card tr:nth-child(odd) .attr-cell-all {
    background-color: yellow;
}

.react-data-card-value {
    cursor: text;
}

.react-data-card-numeric {
    text-align: right;
}

.react-data-card-date {
    text-align: right;
}

.react-data-card-color-table-cell {
    display: inline-block;
    width: 100%;
    height: 15px;
}

.react-data-card-qualitative-backing {
    width: 100%;
    display: block;
    height: 7px;
    border-radius: 3px;
    background-color: lightgrey;
}

.react-data-card-qualitative-bar {
    display: block;
    height: 7px;
    border-width:0;
    border-radius: 3px;
    box-sizing: border-box;
}

.react-data-card-thumbnail {
		width: 14px;
}

.react-data-card-attribute-summary {
    font-style: italic;
}

.react-data-card-formula {
    background: rgba(256, 256, 0, 0.2);
    font-style: italic;
}

.dropdown {
    /*display: inline-block;*/
}

.dropdown__content {
    display: grid;
    cursor: pointer;
    position: absolute;
    padding: 2px;
    background: #f0f0f0;
    border: #718BB7 1px solid;
    box-shadow: 2px 2px 3px #888888ad;
}

.react-data-card-attribute-menu-item {
    margin: 1px;
    padding: 2px 4px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-align: left;
}

.react-data-card-attribute-menu-item:hover {
    background-color: white;
}

.react-data-card-attribute-menu-item.disabled {
    color: #333333;
}

$column-resize-handle-interaction-width: 10px;
.column-resize-handle {
    position: absolute;
    margin-left: -$column-resize-handle-interaction-width / 2;
    width: $column-resize-handle-interaction-width;
    top: 0;
    height: 100%;
    cursor: col-resize;

    .column-resize-handle-render {
        position: absolute;
        left: 0;
        width: 50%;
        height: 100%;

        &.is-resizing {
            border-right: 1px dotted black;
        }
    }
}
