.react-function-browser {
  margin: 3px 0;
  border: 1px solid #000;
  font-size: 12px;
  z-index: 105;
  background-color: white;
  max-width: 300px;
  overflow-x: hidden;
  overflow-y: auto;
}
.react-function-browser ul {
  width: 100%;
  margin: 10px;
  padding: 0;
  list-style-type: none;
  cursor: pointer;
}
/* function item row (function text & info icon) */
.react-function-browser ul li {
  width: 100%;
  margin: 0;
  padding: 3px;
  list-style-type: none;
  max-width: 300px;
  display: flex;
}
/* function item info icon */
.react-function-browser li div {
  width: 20px;
  flex: 0 0;
}
/* function browser function text */
.react-function-browser li span {
  display: inline-block;
  margin-right: 10px;
  width: 245px;
}
.react-function-browser li span i,
.react-function-browser-function-info h1 i {
  color: #555;
}
.react-function-browser .clickable:hover,
.react-function-browser span.clickable:hover i,
.react-function-browser h1.clickable:hover i{
  text-decoration: underline;
  color: #72bfca;
}
.react-function-browser-header {
  font-weight: bold;
  border-bottom: 1px solid #777;
  padding: 5px;
}
.react-function-browser-header span {
  margin-right: 5px;
  cursor: pointer;
  font-weight: normal;
}
.react-function-browser-function-info {
  margin: 10px;
}
.react-function-browser-function-info h1 {
  font-size: 14px;
  font-weight: bold;
  margin: 5px 0;
  cursor: pointer;
}
.react-function-browser-function-info h2 {
  font-size: 12px;
  font-weight: bold;
  margin: 5px 0;
  color: #555;
}
.react-function-browser-function-info div {
  margin: 7px 0;
}
.react-function-browser-function-info ul {
  margin: 5px 0;
  cursor: initial;
}
