@font-face {
	font-family: 'icomoon';
	src:url('icon_fonts/icomoon.eot?99txfz');
	src:url('icon_fonts/icomoon.eot?#iefix99txfz') format('embedded-opentype'),
		url('icon_fonts/icomoon.ttf?99txfz') format('truetype'),
		url('icon_fonts/icomoon.woff?99txfz') format('woff'),
		url('icon_fonts/icomoon.svg?99txfz#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-icon-table2:before {
	content: "\31";
}
.icon-icon-graph:before {
	content: "\33";
}
.icon-icon-dataTool:before {
	content: "\32";
}
.icon-icon-calc:before {
	content: "\36";
}
.icon-icon-slider:before {
	content: "\35";
}
.icon-icon-map:before {
	content: "\34";
}
.icon-icon-noteTool:before {
	content: "\38";
}
.icon-icon-mediaTool:before {
	content: "\37";
}
.icon-arrow-undo:before {
	content: "\61";
}
.icon-arrow-redo:before {
	content: "\62";
}
.icon-icon-tileList:before {
	content: "\63";
}
.icon-icon-comment:before {
	content: "\e609";
}
.icon-icon-guide:before {
	content: "\64";
}
.icon-icon-options:before {
	content: "\65";
}
.icon-icon-simulateTool:before {
	content: "\67";
}
.icon-icon-draw:before {
	content: "\66";
}
.icon-icon-help:before {
	content: "\68";
}
.icon-icon-hideShow:before {
	content: "\69";
}
.icon-icon-scaleData:before {
	content: "\6a";
}
.icon-icon-search:before {
	content: "\6d";
}
.icon-icon-tileScreenshot:before {
	content: "\6c";
}
.icon-icon-trash:before {
	content: "\e629";
}
.icon-icon-styles:before {
	content: "\6e";
}
.icon-icon-values:before {
	content: "\6f";
}
.icon-icon-qualRel:before {
	content: "\70";
}
.icon-arrow-moreIconOptions:before {
	content: "\71";
}
.icon-paletteArrow-expand:before {
	content: "\72";
}
.icon-paletteArrow-collapse:before {
	content: "\73";
}
.icon-arrow-expand:before {
	content: "\74";
}
.icon-arrow-collapse:before {
	content: "\75";
}
.icon-inspectorArrow-expand:before {
	content: "\76";
}
.icon-inspectorArrow-collapse:before {
	content: "\77";
}
.icon-icon-swapAxis:before {
	content: "\78";
}
.icon-icon-ex:before {
	content: "\79";
}
.icon-icon-minimize:before {
	content: "\7a";
}
.icon-icon-noteCanvas .path1:before {
	content: "\41";
	color: rgb(251, 243, 144);
}
.icon-icon-noteCanvas .path2:before {
	content: "\42";
	margin-left: -1.2666015625em;
	color: rgb(13, 136, 158);
}
.icon-icon-noteCanvas-Hover .path1:before {
	content: "\43";
	color: rgb(251, 243, 144);
}
.icon-icon-noteCanvas-Hover .path2:before {
	content: "\44";
	margin-left: -1.2666015625em;
	color: rgb(16, 38, 51);
}
.icon-icon-noteTile .path1:before {
	content: "\45";
	color: rgb(251, 243, 144);
}
.icon-icon-noteTile .path2:before {
	content: "\46";
	margin-left: -1.2666015625em;
	color: rgb(13, 136, 158);
}
.icon-icon-noteTile-hover .path1:before {
	content: "\48";
	color: rgb(251, 243, 144);
}
.icon-icon-noteTile-hover .path2:before {
	content: "\49";
	margin-left: -1.2666015625em;
	color: rgb(16, 38, 51);
}
.icon-icon-play:before {
	content: "\4a";
}
.icon-icon-controlsReset:before {
	content: "\4b";
}
.icon-icon-controlsBackward:before {
	content: "\4d";
}
.icon-icon-controlsForward:before {
	content: "\4e";
}
.icon-icon-speedFast:before {
	content: "\4f";
}
.icon-icon-speedSlow:before {
	content: "\50";
}
.icon-slider:before {
	content: "\51";
}
.icon-icon-smallSliderLines:before {
	content: "\52";
}
.icon-icon-alert:before {
	content: "\53";
}
.icon-icon-checkmark:before {
	content: "\54";
}
.icon-icon-info:before {
	content: "\55";
}
.icon-icon-saveGraph:before {
	content: "\56";
}
.icon-icon-link:before {
	content: "\57";
}
.icon-icon-marquee:before {
	content: "\58";
}
