.cm-editor {
  .cm-line {

    .cm-comment {
      color: #888
    }

    // colors match v2 colors

    .cm-boolean, .cm-number {
      color: #164;
    }

    .cm-string {
      color: #a11;
    }

    .cm-operator {
      color: black;
    }

    .cm-function, .cm-variable {
      color: black;
    }

    .codap-function .cm-function {
      color: blue;
    }

    // codap-class can occur with or without cm-variable

    .codap-attribute, .codap-attribute .cm-variable {
      color: magenta;
    }

    .codap-boundary, .codap-boundary .cm-variable {
      color: maroon;
    }

    .codap-constant, .codap-constant .cm-variable {
      color: teal;
    }

    .codap-global, .codap-global .cm-variable {
      color: maroon;
    }

    .codap-special, .codap-special .cm-variable {
      color: red;
    }
  }
}
