@use "../../vars.scss" as *;

.measures-for-selection-banner {
  background: $background-fill;
  border: none;
  color: #000;
  display: flex;
  flex-direction: column;
  font: 12px "MuseoSans-500", sans-serif;
  justify-content: center;
  left: 0;
  line-height: 1;
  min-height: 22px;
  overflow: hidden;
  padding: 0 5px;
  pointer-events: all;
  position: absolute;
  text-align: left;
  top: 0;
  width: calc(100% - 10px);
  z-index: 5;
}
