@use "../../vars";

.attribute-label {
  fill: blue !important;
  text-decoration: underline;
  font: vars.$label-font !important;
}

// Used for individual y-attribute labels when there are multiple y-attributes on the left axis
// Fill color is set dynamically via D3 to match the point color
.y-attribute-label {
  text-decoration: underline;
  font: vars.$label-font !important;
}
