@use "../../vars";

.drop-hint {
  position:fixed;
  z-index:12;
  transform: translate(-50%, -100%);
  background-color: vars.$charcoal-dark-1;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 500;
  color:white;
  border-radius: 4px;
  opacity: 100%;
  animation-duration: .3s;
  animation-name: fadeSlide;
  animation-timing-function: ease-out;
  @keyframes fadeSlide {
    from {
      line-height: 0px;
      opacity: 0%;
    }

    to {
      line-height: 12px;
      opacity: 100%;
    }
  }
}
