.inspector-panel.map.data-display {
  .codap-inspector-palette {
    font-size: 12px;
    min-width: 205px;
    min-height: 100px;
    font-weight: bold;

    .palette-form {
      height: fit-content;

      .map-values-controls {
        display: flex;
        flex-direction: column;
        margin: 5px;

        .map-values-layer-label{
          display: flex;
          align-items: center;
        }
      }

      .palette-checkbox {
        height: 20px;
        width: 180px;
        margin: 2px 0;
      }

      .map-layers-checkbox {
        font-weight: bold;
        height: 20px;
        width: 180px;
      }
    }

    .map-base-control {
      margin: 1px;

      .map-base-segmented {
        border: 1px solid #cccccc;
        margin: 5px;
        border-radius: 10px;
        padding-left: 5px;
        padding-right: 5px;
        cursor: pointer;

        .map-base-button {
          border-radius: 5px;
          padding: 5px;
          background-image: linear-gradient(to bottom, #f7f7f7, #e7e7e7);
        }

        .map-base-button-selected {
          border-radius: 5px;
          padding: 5px;
          background-image: linear-gradient(to bottom, #5DA3EE, #437BD4);
          color: white;
          text-shadow: black 1px 1px;
        }
      }
    }

    .map-layer-controls {
      padding: 3px;
    }
  }
}
