@use "../../../vars";

.map-values-controls {
  display: flex;
  flex-direction: column;
  margin: 5px;

  .map-values-layer-label{
    display: flex;
    align-items: center;
    font-weight: 500;
  }
}

.inspector-panel.map.data-display {
  .codap-inspector-palette:has(.map-base-control) {
    width: 269px;
  }

  .codap-inspector-palette {
    .map-base-control {
      display: flex;
      flex-direction: row;
      margin: 10px 0;
      align-items: center;
      font-weight: 500;

      .map-base-segmented {
        display: flex;
        flex: 1;
        height: 18px;
        margin-left: 5px;
        border: 1px solid vars.$charcoal;
        border-radius: 4px;

        .map-base-button {
          appearance: none;
          background-color: vars.$palette-hover-bg;
          border: none;
          padding: 0;
          font: inherit;
          font-weight: 500;
          cursor: pointer;
          display: flex;
          flex: 1;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          height: 100%;

          &:focus-visible {
            outline: 2px solid vars.$focus-outline-color;
            outline-offset: 1px;
          }

          &.oceans {
            border-radius: 3px 0 0 3px;
          }
          &.streets {
            border-radius: 0 3px 3px 0;
          }
          &.topo {
            border-left: 1px solid vars.$charcoal;
            border-right: 1px solid vars.$charcoal;
            border-radius: 0;
          }
          &.selected {
            background-color: vars.$palette-header-bg;
            font-weight: 700;
          }
        }
      }
    }

    .map-layer-controls {
      margin: 10px;
      border-top: 1px solid vars.$charcoal-light-2;
      padding-top: 10px;

      > .react-aria-Checkbox {
        font-weight: 500;
      }

      .palette-row {
        font-weight: normal;
      }
    }
  }
}
