.inspector-panel.map.data-display {
  .codap-inspector-palette {
    font-size: 12px;
    min-width: 205px;
    min-height: 100px;
    font-weight: bold;

    .palette-form {
      height: fit-content;

      .palette-row {
        height: 30px;

        .form-label.color {
          margin-right: 4px;
        }
      }

      .palette-checkbox {
        height: 20px;
        width: 180px;
        margin: 2px 0;
      }

      .map-values-controls {
        display: flex;
        flex-direction: column;
        margin: 5px;

        .map-values-layer-label{
          display: flex;
          align-items: center;
        }
      }
    }

    .map-base-control {
      margin: 1px;

      .palette-checkbox{
        width: 80px;
      }

      .map-base-segmented {
        height: 18px;
        width: 170px;
        margin: 5px;
        border-radius: 4px;
        justify-content: center;
        cursor: pointer;

        .map-base-button {
          border-radius: 4px;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          &.oceans {
            border: 1px solid #cccccc;
            border-radius: 4px 0 0 4px;
            height: 18px;
            width: 57.5px;
          }
          &.streets {
            border: 1px solid #cccccc;
            border-radius: 0 4px 4px 0;
            width: 54.5px;
            height: 18px;
          }
          &.topo {
            border-top: 1px solid #cccccc;
            border-bottom: 1px solid #cccccc;
            width: 45px;
            height: 18px;
            border-radius: 0;
          }
          &.selected {
            background-image: linear-gradient(to bottom, #5DA3EE, #437BD4);
            color: white;
            text-shadow: black 1px 1px;
          }
        }
      }
    }

    .map-layer-controls {
      padding: 3px;
    }
  }
}
