@use "../vars.scss";

.case-card-content {
  background: white;
  display: inline-block;
  font-size: 11px;
  min-width: 350px;
  width: 100%;
  overflow-y: auto;
  height: calc(100% - vars.$title-bar-height);

  .fadeIn {
    opacity: 0;
    animation: fadeIn 0.25s ease-in forwards;
  }

  @keyframes fadeIn {
    100% {
      opacity: 1;
    }
  }
}
