.case-card-content {
  background: white;
  display: inline-block;
  font-size: 11px;
  min-width: 282px;
  width: 100%;

  .fadeIn {
    opacity: 0;
    animation: fadeIn 0.25s ease-in forwards;
  }

  @keyframes fadeIn {
    100% {
      opacity: 1;
    }
  }
}
