.case-card-content {
  background: white;
  display: inline-block;
  font-size: 11px;
  padding-bottom: 50px;
  position: relative;
  width: 100%;
  height: 100%;

  .fadeIn {
    opacity: 0;
    animation: fadeIn 0.25s ease-in forwards;
  }

  .summary-view-toggle-container {
    background: white;
    bottom: 0;
    height: 50px;
    left: 0;
    padding: 10px 0;
    position: sticky;
    width: 100%;
  }
  .summary-view-toggle-button {
    all: unset;
    background: #f5fbfc;
    border: solid 1.5px #979797;
    border-radius: 5px;
    color: #0592af;
    cursor: pointer;
    display: block;
    font-size: 11px;
    font-weight: bold;
    margin: 0 auto;
    padding: 6px 8px;
    text-align: center;

    &:disabled {
      cursor: not-allowed;
      opacity: .5;
    }
  }

  @keyframes fadeIn {
    100% {
      opacity: 1;
    }
  }
}
