@use "../../components/vars";

.codap-container {
  // set up a stacking context so component z-index values don't interact with others
  isolation: isolate;
  width: 100%;
  height: calc(100% - vars.$tool-shelf-height);
  background: url("../../assets/bg-grid-grey.png");
  position: relative;

  &.hide-toolbar {
    height: 100%;
  }

  .component-placeholder {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // Chakra Menu popper wrapper rendered via Portal into .codap-container needs high z-index to appear above tiles
  > .chakra-portal > div {
    z-index: 10000;
  }
}

.vertical-toolbar-container {
  .codap-container {
    flex: 1;
    height: 100%;
    width: auto;
  }
}

.codap-app.minimal-chrome {
  .codap-container {
    height: 100%;
  }
}
