@use "../../components/vars";

.codap-container {
  // set up a stacking context so component z-index values don't interact with others
  isolation: isolate;
  width: 100%;
  height: calc(100% - vars.$menu-bar-height - vars.$tool-shelf-height);
  background: url("../../assets/bg-grid-grey.png");
  position: relative;

  .component-placeholder {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
