@use "../vars";

.free-tile-row {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;

  .codap-app.minimal-chrome & {
    overflow: hidden;
  }

  .free-tile-component {
    position: absolute;
    background: transparent;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 25%);
    border-radius: 6px;
    // https://stackoverflow.com/a/17117992
    transition: all 0.4s ease-in-out 0s;
    transition-property: left, top, width, height;
    &.disable-animation {
      transition: none;
    }
    &.minimized {
      height: vars.$title-bar-height;
    }

    &.codap-standalone-component {
      left: 0;
      top: 0;
      width: 100%;
      // no title bar in standalone mode
      height: 100%;
      z-index: 0;
      border: none;
    }
  }
}
