@use "../../vars";

.tool-tile.placeholder {
  outline: none;
}

.placeholder-tool {
  width: 100%;
  height: 50px;
  min-height: 50px;
  background-color: white;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
  color: vars.$charcoal;
  border-color: vars.$charcoal-light-2;
  border-style: dashed;
  border-width: 1px;
}
