@import "../../vars.scss";

.codap-component.codap-map.minimized {
  .map {
    visibility: hidden;
  }
}

.map-container {
  position: relative;
  width: 100%;
  height: calc(100% - $title-bar-height);
  z-index: 5;

  .leaflet-wrapper {
    // set up stacking context to contain leaflet z-indices
    position: relative;
    z-index: 1;

    .leaflet-container {
      width: 100%;
      height: 100%;
    }

    .leaflet-pane {
      z-index: 10;
    }
  }
}

.map-dot-area {
  position: absolute;
  z-index: 11;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.map-d3-tip {
  font-size: small;
  line-height: 1.2;
  padding: 5px;
  pointer-events: none !important;
  color: #203d5d;
  box-shadow: 0 4px 20px 4px rgba(0, 20, 60, .1), 0 4px 80px -8px rgba(0, 20, 60, .2);
  background-color: rgba(251, 251, 176, 0.7);
  border-radius: 4px;
}

.leaflet-popup-tip-container {
  margin: 0 auto;
  width: 0px;
  height: 0px;
  position: relative;
  overflow: hidden;
}

.leaflet-popup-content-wrapper {
  background: #FBFBB0;
  opacity: 0.7;
  border-radius: 0px;
}

.leaflet-popup-content {
  margin: 6px 9px;
  line-height: 1;
}
.leaflet-popup-content p {
  margin: 6px 0;
}

.leaflet-popup-tip {
  background: transparent;
}

.leaflet-popup-tip {
  width: 0;
  height: 0;
  padding: 0;
}

.leaflet-container ~ div {
  z-index: 1100;
}
.leaflet-container .leaflet-control-attribution {
  margin: 10px;
  opacity: .5;
  width: 140px;
}
