@import "../../vars.scss";

.codap-component.codap-map.minimized {
  .map {
    visibility: hidden;
  }
}

.map-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: calc(100% - $title-bar-height);

  .leaflet-container {
    width: 100%;
    height: 100%;
  }

  .leaflet-pane {
    z-index: 10;
  }
}

.map-dot-area {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.map-dot {
  fill: rgba(230, 128, 91);
  stroke: white;
  cursor: pointer;
  stroke-opacity: 0.4;
  fill-opacity: 0.85;
}

.map-dot-highlighted {
  //fill: steelblue;
}

.map-d3-tip {
  font-size: small;
  line-height: 1.2;
  padding: 5px;
  pointer-events: none !important;
  color: #203d5d;
  box-shadow: 0 4px 20px 4px rgba(0, 20, 60, .1), 0 4px 80px -8px rgba(0, 20, 60, .2);
  background-color: rgba(251, 251, 176, 0.7);
  border-radius: 4px;
}

