.pin-controls {
  display: flex;
  flex-direction: column;
  left: 10px;
  position: absolute;
  top: 90px;
  // FIX-ME: Why does this need to be 10?
  z-index: 10;

  .map-control-button {
    align-items: center;
    background-color: white;
    border: 2px solid #aac8d2;
    display: flex;
    height: 35px;
    justify-content: center;
    padding: 0;
    width: 35px;

    &:disabled {
      .icon {
        opacity: .4;
      }
    }
  
    &:active {
      background-color: #b9dfe5;
    }

    &:hover {
      background-color: #dceff2;
    }

    &.bottom-button {
      border-radius: 0 0 4.5px 4.5px;
      border-top: none;
    }

    &.top-button {
      border-radius: 4.5px 4.5px 0 0;
      border-bottom: 1px solid #aac8d2;
      height: 36px;
    }
  }
}
