.measure-group-button {
  justify-content: left!important;
  font-size: 12px!important;
  font-weight: 400!important;
  background-color: #eeeeee!important;
  height: 24px!important;
  padding-inline-start: 0!important;
  border: none!important;
}

.measure-items {
  margin-left: 20px;

  .measure-movable-value-button {
    font-size: 12px!important;
    font-weight: 400!important;
    background-color: #eeeeee!important;
    height: 20px!important;
    width: fit-content;
    margin-bottom: 5px;
  }
}
