// Edit Attribute Modal Styles
.edit-attribute-form-row {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  input {
    margin-left: 10px;
    padding: 0 8px;
  }

  .attr-menu-select {
    flex: 1;
    height: 24px;
    border: 1px solid #e2e8f0;
    border-radius: 4px;
    background-color: white;
    font-size: 12px;
    font-weight: normal;
    text-align: left;
    padding: 0 8px;

    span {
      // ensure text and icon are spaced apart
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
.edit-attribute-form-row.editable {
  justify-content: flex-start;
  .chakra-radio-group {
    margin-left: 10px;
  }
}
