@import "../../vars.scss";

// Edit Attribute Modal Styles
.edit-attribute-form-row {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  input, .chakra-select__wrapper {
    margin-left: 10px;
  }
  input {
    padding: 0 8px;
  }
}
.edit-attribute-form-row.editable {
  justify-content: flex-start;
  .chakra-radio-group {
    margin-left: 10px;
  }
}

// Formula Editor Styles
.codap-modal-content {
  .formula-modal-body {
    cursor: default;

    .formula-form-control {
      input {
        max-width: 270px;
      }
    }

    .formula-editor-button {
      padding: 0 10px;
      &:hover {
        background: $codap-teal-lighter;
      }
      &:active, &.menu-open {
        background: $codap-teal-light;
        color: white;
      }
      &.insert-value {
        margin-left: 0;
      }
    }
  }

  .formula-modal-footer {
    cursor: default;
  }
}
