name: Increment build number
on:
  push:
    branches:
      - main
    paths-ignore:
      - 'v3/build_number.json'
      - 'v3/CHANGELOG.md' # Do not increment build number when release branches are merged into main, which typically change CHANGELOG.md
                          # since we want to lock the build number we're about to release and
                          # do not want the release branch's merge to main to trigger another build number increment
jobs:
  test:
    name: Increment value test
    runs-on: ubuntu-latest
    steps:
      - name: Check out source code
        uses: actions/checkout@v3
        with:
          ref: ${{ github.ref }}
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Increment value
        run: ./increment_build_num.sh
      - name: Commit files
        run: |
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git commit -a -m "Increment the build number"
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }}
