name: Increment build number
on:
  push:
    branches:
      - main
    paths-ignore:
      - 'v3/build_number.json'
      
jobs:
  test:
    name: Increment value test
    runs-on: ubuntu-latest
    steps:
      - name: Check out source code
        uses: actions/checkout@v4
      - name: Increment value
        working-directory: v3
        run: ./increment_build_num.sh
      - name: Commit and push
        run: |
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git commit -a -m "Increment the build number"
          git push
