name: Continuous Integration (CODAP v2)

on:
  push:
    paths-ignore: # don't run this workflow if it only contains v3 changes
      - 'v3/**'   # https://docs.github.com/en/actions/using-workflows/triggering-a-workflow#example-excluding-paths
      - '.github/workflows/v3.yml'

jobs:
  build_test:
    name: Build and Run Jest Tests
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: actions/setup-node@v4
        with:
          node-version: '18'
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '2.7'
      - name: Install Dependencies
        run: |
          bundle install
          npm ci --legacy-peer-deps
      - name: Build
        env:
          NODE_OPTIONS: --openssl-legacy-provider
        run: |
          git clone https://github.com/concord-consortium/codap-data.git ../codap-data
          git clone https://github.com/concord-consortium/codap-data-interactives.git ../codap-data-interactives
          cd ../codap-data-interactives/onboarding
          npm install
          cd ../../codap
          npm run build:ci
      - uses: actions/upload-artifact@v4
        with:
          name: build
          path: dist/ci/
  s3-deploy:
    name: S3 Deploy
    needs:
      - build_test
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: build
          path: dist
      - uses: concord-consortium/s3-deploy-action@v1
        with:
          build: echo already built
          bucket: models-resources
          prefix: codap-dev
          folderToDeploy: dist
          awsAccessKeyId: ${{ secrets.AWS_ACCESS_KEY_ID }}
          awsSecretAccessKey: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          deployRunUrl: https://codap-dev.concord.org/__deployPath__/
          topBranches: |
            ["master"]
