name: Continuous Integration (CODAP v3)

on:
  push:
    paths:      # only run this workflow if it contains v3 files
      - 'v3/**' # https://docs.github.com/en/actions/using-workflows/triggering-a-workflow#example-including-paths
      - '.github/workflows/v3.yml'

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: snow-actions/sparse-checkout@v1.2.0
        with:
          patterns: v3
      - uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: 'npm'
          cache-dependency-path: v3/package-lock.json
      - name: Install Dependencies
        working-directory: v3
        run: npm ci
      - uses: actions/cache@v4
        with:
          path: v3/node_modules/.cache/webpack/
          key: ${{ github.head_ref || github.ref_name }}-webpack-build
          restore-keys: |
            main-webpack-build
      - uses: concord-consortium/s3-deploy-action/deploy-path@v1
        id: s3-deploy-path
      - name: Configure Environment
        working-directory: v3
        run: |
          cat <<EOF > .env
          GOOGLE_DRIVE_CLIENT_ID="${{ secrets.GOOGLE_DRIVE_CLIENT_ID }}"
          GOOGLE_DRIVE_API_KEY="${{ secrets.GOOGLE_DRIVE_API_KEY }}"
          GOOGLE_DRIVE_APP_ID="${{ secrets.GOOGLE_DRIVE_APP_ID }}"
          EOF
      - name: Build
        working-directory: v3
        run: npm run build
        env:
          DEPLOY_PATH: ${{ steps.s3-deploy-path.outputs.deployPath }}
      - uses: actions/upload-artifact@v4
        with:
          name: build
          path: v3/dist/
      
  jest:
    name: Run Jest Tests
    runs-on: ubuntu-latest
    steps:
      - uses: snow-actions/sparse-checkout@v1.2.0
        with:
          patterns: v3
      - uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: 'npm'
          cache-dependency-path: v3/package-lock.json
      - name: Install Dependencies
        working-directory: v3
        run: npm ci
      - name: Cache Jest cache
        uses: actions/cache@v4
        with:
          path: /tmp/jest_rt
          key: ${{ hashFiles('v3/package-lock.json') }}
      - name: Get number of CPU cores
        id: cpu-cores
        uses: SimenB/github-actions-cpu-cores@v2
      - name: Run Tests
        working-directory: v3
        run: npm run test:coverage -- --maxWorkers=${{ steps.cpu-cores.outputs.count }}
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: jest
  cypress:
    runs-on: ubuntu-latest
    strategy:
      # when one test fails, DO NOT cancel the other
      # containers, because this will kill Cypress processes
      # leaving the Dashboard hanging ...
      # https://github.com/cypress-io/github-action/issues/48
      fail-fast: false
    steps:
      - uses: snow-actions/sparse-checkout@v1.2.0
        with:
          patterns: v3
      - uses: actions/cache@v4
        with:
          path: v3/node_modules/.cache/webpack/
          key: ${{ github.head_ref || github.ref_name }}-webpack-build
          restore-keys: |
            main-webpack-build
      - uses: cypress-io/github-action@v6
        with:
          working-directory: v3
          start: npm start
          wait-on: 'http://localhost:8080'
          # add timeout of 5 minutes to start
          wait-on-timeout: 300
          # only record the results to dashboard.cypress.io if CYPRESS_RECORD_KEY is set
          record: ${{ !!secrets.CYPRESS_RECORD_KEY }}
          browser: chrome
          # only run a single test
          # TODO: setup a special test for this purpose
          spec: cypress/e2e/import-v2.spec.ts
          group: 'Smoke Tests'
        env:
          # pass the Dashboard record key as an environment variable
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          # pass GitHub token to allow accurately detecting a build vs a re-run build
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # turn on code coverage when running npm start
          # so far we've been using a webpack coverage-istanbul-loader for this
          # but there has been work on using the code coverage support in the browser directly,
          # which should be much faster
          CODE_COVERAGE: true
          # Also turn on the code coverage tasks in cypress itself, these are disabled
          # by default.
          CYPRESS_coverage: true
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: cypress
  s3-deploy:
    name: S3 Deploy
    needs:
      - build
      - jest
      - cypress
    runs-on: ubuntu-latest
    environment:
      name: ${{ github.ref_type == 'branch' && 'branches' || 'versions' }}
      url: https://codap3.concord.org/${{ steps.s3-deploy.outputs.deployPath }}/
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: build
          path: v3/dist
      - uses: concord-consortium/s3-deploy-action@v1
        id: s3-deploy
        with:
          build: echo no build
          bucket: models-resources
          prefix: codap3
          workingDirectory: v3
          awsAccessKeyId: ${{ secrets.V3_AWS_ACCESS_KEY_ID }}
          awsSecretAccessKey: ${{ secrets.V3_AWS_SECRET_ACCESS_KEY }}
          # Parameters to GHActions have to be strings, so a regular yaml array cannot
          # be used. Instead the `|` turns the following lines into a string
          topBranches: |
            ["main"]
