@import "../../vars.scss";

$graph-label-font: 400 14px Montserrat-Regular, sans-serif;
$graph-empty-label-font: 12px Montserrat-Regular, sans-serif;

:export {
  graphLabelFont: $graph-label-font;
  graphEmptyLabelFont: $graph-empty-label-font;
}

.codap-component.codap-graph.minimized {
  .graph-plot {
    visibility: hidden;
  }
}

.graph-plot {
  position: relative;
  width: 100%;
  height: calc(100% - $title-bar-height);
  background-color: #F9F9F9;

  .attribute-label {
    fill: blue;
    text-decoration: underline;
    font: $graph-label-font;
  }

  .empty-label {
    fill: #999;
    font: $graph-empty-label-font;
  }

  .category-label {
    cursor: pointer;
  }

  svg {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  text {
    fill: black;
    font: 12px sans-serif;
  }

  .axis {
    background-color: white;

    /*
    text {
      rotate: -90deg;
    }
    */

    line {
      stroke: #DDDDDD;
    }
  }
  .axis-click-cue {
    fill: #999999 !important;
    font-size: 12px !important;
    font-family: Montserrat-Regular, sans-serif !important;
  }

  .grid .tick line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
    pointer-events: none;
  }

  .zero .tick line {
    stroke: #444444;
    stroke-opacity: 0.8;
    shape-rendering: crispEdges;
    pointer-events: none;
  }
}

.graph-dot-area {
  background: white;
}

.graph-background {
  fill: white;
}

.plot-cell-background {
  fill: white;
}

.graph-dot {
  fill: rgba(230, 128, 91);
  stroke: white;
  cursor: pointer;
  stroke-opacity: 0.4;
  fill-opacity: 0.85;
}

.graph-dot-highlighted {
  //fill: steelblue;
}

.graph-d3-tip {
  font-size: small;
  line-height: 1.2;
  padding: 5px;
  pointer-events: none !important;
  color: #203d5d;
  box-shadow: 0 4px 20px 4px rgba(0, 20, 60, .1), 0 4px 80px -8px rgba(0, 20, 60, .2);
  background-color: rgba(251, 251, 176, 0.7);
  border-radius: 4px;
}

.add-attribute-drop-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 25px;
  &.active {
    border: 5px solid rgb(255, 216, 102);
  }
  &.over {
    background: yellow;
    opacity: 0.5;
  }
}

.add-attribute-drop-yPlus {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 25px;
  &.active {
    border: 5px solid rgb(255, 216, 102);
  }
  &.over {
    background: yellow;
    opacity: 0.5;
  }
}

.add-attribute-drop-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 100%;
  &.active {
    border: 5px solid rgb(255, 216, 102);
  }
  &.over {
    background: yellow;
    opacity: 0.5;
  }
}
